/* condense space between heading and paragragh */
/* Heading and paragraph margin change */

p {
    display: block;
    padding: 15px;
    line-height: 25px;
    font-size: 1em;
    color: hsla(0, 0%, 100%, 0.75);
}
/* Heading font change */

h3 {
    display: block;
    padding: 17px;
    font-family: "Lexend Deca";
    font-size: 1.75em;
    color: hsl(0, 0%, 95%);
}
.columns1 {
    width: 250px;
    padding: 0px;
    float: left;
    justify-content: center;
    align-items: center;
    background: fixed;
    background-color: hsl(31, 77%, 52%);
    border-radius: 2px;
}

.columns2 {
    width: 250px;
    padding: 0px;
    float: left;
    justify-content: center;
    align-items: center;
    background: fixed;
    background-color: hsl(184, 100%, 22%);
    border-radius: 2px;
}

.columns3 {
    width: 250px;
    padding: 0px;
    float: left;
    justify-content: center;
    align-items: center;
    background: fixed;
    background-color: hsl(179, 100%, 13%);
    border-radius: 2px;
}

#about {
    padding: 200px;
}

.columns {
    display: flex;flex-wrap: wrap;
    width: 100%;
    height: 65%;
    padding: auto;
    margin: auto;
    overflow: hidden;
}
.columns1,
.columns2,
.columns3 { width: 30% ;}

.container {
    height: 50%;
    position: relative;
  }


/* make button transparent */

  .button {
    display: flex;
    margin: auto;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
  }

